@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 4em;
  background-color: black ;
  color: white;
}

.title{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.machine{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}

button{
  width: 100px;
  height: 109px;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.357);
  background-color: rgb(100, 100, 100) ;
  box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.429);
  color: white;
  font-weight: bold;
  font-size: 25px;
  transition: all .3s ease-in-out;
}

button:active{
  transform: translate3d(2px,2px,0);
}


.sound-display{
  text-align: center;
  margin-top: 1em;
  font-size: 18px;
}

.attribution {
  color: white;
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}
.attribution a {
  font-weight: bold;
  color: white;
  cursor: pointer;
}
